<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/clinicaEntitys.csdl|res://*/clinicaEntitys.ssdl|res://*/clinicaEntitys.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost:1521/xe;PASSWORD=123;PERSIST SECURITY INFO=True;USER ID=USUARIOL&quot;" providerName="System.Data.EntityClient" />
    <add name="ClinicaEntities" connectionString="metadata=res://*/ClinicaEDM.csdl|res://*/ClinicaEDM.ssdl|res://*/ClinicaEDM.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost:1521/xe;PASSWORD=123;PERSIST SECURITY INFO=True;USER ID=USUARIOL&quot;" providerName="System.Data.EntityClient" />
    <add name="ClinicasEntities" connectionString="metadata=res://*/ClinicaModel.csdl|res://*/ClinicaModel.ssdl|res://*/ClinicaModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost:1521/xe;PASSWORD=123;PERSIST SECURITY INFO=True;USER ID=USUARIOL&quot;" providerName="System.Data.EntityClient" />
    <add name="ClinicaEntityes" connectionString="metadata=res://*/ClinicaEDM.csdl|res://*/ClinicaEDM.ssdl|res://*/ClinicaEDM.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost:1521/xe;PASSWORD=123;PERSIST SECURITY INFO=True;USER ID=USUARIOL&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>